# Dependencies
node_modules/

# Environment variables & Secrets
.env
backend/.env
backend/service-account.json

# Text dumps
all_files.txt

# OS files
.DS_Store
Thumbs.db

# Build output
dist/
build/



GEMINI.md